# Part 1: Introduction

## Setup: ipykernel

In order to execute code in a Jupyter notebook we need to connect our Conda environment to the notebook, we do this using what's called a Python kernel.  In Jupyter notebooks, a Python kernel is the computational engine that executes Python code within a notebook.  In order to do so we need to install the ipykernel package!  

Open a new Anaconda Prompt or terminal (mac) and execute the following command

`python -m ipykernel install --user --name=dataEnv`

Once you've done that, refresh this page, then select the Kernel titled "dataEnv" from the top right of the Jupyter lab UI!

![alt text](images/kernel.png "Kernel Selector")

![alt text](images/dataEnvKernel.png "Kernel Selection")

## Expressions

An expression is sort of like a formula, it's the building block of essentially all code.  Expressions are made up of values and operators, much like formulas you may have seen in Algebra in high school.  

>Example of a simple expression
>
>`2 + 2`

Expressions _evaluate_ down to a single value.  Essentially what that means is that once all of the operations defined in the expression have executed, the user is left with a singular value at the end of it.  

>Example of slightly more complicated expression
>
>`4 * (2 + 2)`
>
>Evaluates to:
>
>`4 * (4)`
>
>=`16`

Let's try executing some expressions in the code blocks right below this:

In [1]:
2 + 2

4

In [4]:
4 * (2 + 2)

16

No surprise there, but we got exactly the results we expected!

We can do even more complicated things wtih expressions than simple addition and multiplication, of course.  Check out the table below of some of the mathematical operators we can use in Python:

| Operator | Operation| Example |
| -------- | -------- |-------- |
|* | multiplication | `2 * 2` = 4 |
| + | addition | `2 + 5` = 7 |
| - | subtraction | `10 - 4` = 6 |
| **  | exponent    | `3**3` = 27
| % | remainder | `10 % 4` = 2 |
| //    | intiger division    | `27 // 7` = 3 |

## Data Types

A data type is exactly what it sounds like, it is a category for a _value_ in Python.

There are lots of different data types, but we'll just start with a few which are built in to the Python language itself:

_Note: I am intentionally skipping over some types such as complex which are not relevant to this course, this list is not exhaustive_

### Numeric Data Types:
1. int: discrete integer values (whole numbers, e.g. 2, 5, -10)
2. float: floating point numbers (decimal numbers, e.g. 1.22, 10.0, -55.999999)

There are lots of things we can do with the numeric data types using the operators we showed above, as you might expect.  But it is important for us to remember that there are some interesting thing that happen when we use floats vs ints, or when we mix the two numeric data types in an expression.

For instance, when we divide two integers, we do not get an integer value back, instead we get a float, even if the integers would have divided cleanly into another integer with no remainder:

In [6]:
16 / 4

4.0

Notice how the output above shows `4.0` instead of `4`?  Despite feeding this expression two integer values, we got back a float value.  That's not the only interesting interaction.  Whenever we mix integers and floats together into one expression, the integer is implicitly converted to a float and the result is a float as well:

In [7]:
8.0 + 4

12.0

Speaking of value conversion, we can also convert values from one type to another int -> float or float -> int.  When converting an integer to float, we don't lose anything of value, because there is no decimal value to keep track of, but when we convert float to int, the result is a _truncated_ value.  That just means that the decimal part is totally chopped off, leaving only the integer value like this:

In [8]:
int(3.4)

3

In [9]:
int(-3.4)

-3

There are lots of other more complicated and interesting quirks of working with numeric data types in Python, but for now, this should suffice for an introduction.

### Strings

In Python, a string is simply a sequence of characters. Strings are defined in python using single or double quotes at their beginning and end like so:

In [12]:
# Double Quotes
"Hello World!"

'Hello World!'

In [13]:
# Single Quotes
'Hello World!'

'Hello World!'

Strings are an incredibly powerful and common data type that you will see when working with Python, and there are lots of neat things you can do with them by using some of the operators we defined above.  We can __concatenate__ or join together two strings using the `+` operator like so:

In [14]:
'Chicken' + 'nuggets'

'Chickennuggets'

We can also __replicate__ strings by multiplying them by __integers__ (note this does not work for floats):

In [15]:
'Chicken' * 5

'ChickenChickenChickenChickenChicken'

In [16]:
# This code block with throw an error!  That's okay, we're expecting an error here.
'Chicken' * 5.0

TypeError: can't multiply sequence by non-int of type 'float'

## Variables

A variable is a __container__ with a name for storing values. Essentially it allows us to store a value and reference that value later by invoking the name of the variable!  Check out this example to see how it works:

In [18]:
myCoolVariable = 42
myCoolVariable

42

We were able to store the integer __value__ `42` inside the variable called `myCoolVariable` and __reference__ it directly afterward by name to retrieve the value we stored it in.  Pretty neat!  Althought it might not seem super useful with this simple use case, we can also do arethmetic on variable values.

In [19]:
myCoolVariable = 42
myCoolVariable + 10

52

In this case we retrieve the value from our variable, and add 10 to it using an expression which evaluates to `52`!  We can do the same with 2 or more variables in an expression like we did above.  Variables are just references to the values that we chose to store within them!  

We can also _change_ or _update_ the values inside variables like so:

In [20]:
myCoolVariable = 42
print(myCoolVariable)

myCoolVariable = 52
print(myCoolVariable)

42
52

In this case, we first store the value `42` inside the variable `myCoolVariable`, then we retrieve the value with the print statement.  From there we then _replace_ the value within `myCoolVariable` to instead be `52`, which you can see is what we get when we call the same print statement at the end of the code block!

### Variable naming rules
There are certain rules we have to follow when naming our variables, however.  

We cannot name variables in the following ways or we will get an error:
>Variables starting with numbers, e.g. `1testData =`
>
>Variables with spaces, e.g. `home address`
>
>Variables with special characters, e.g. `turtleBe@ch`
>
>Variables with hyphens, e.g. `date-of-birth` (we can use underscores though, e.g. `date_of_birth` this is called snake-case)

Secondly, it's important to name your variables descriptively.  It's no good to anyone to name your variables like this:
>`x =`
>
>`xNewVar =`
>
>`varCdCrossL2`

Try to be descriptive, so that anyone looking at your code will be able to intuitively determine what a variable is by looking at it's name.

>`firstName =`
>
>`medianHomePrice =`
>
>`testDataLabels =`

## Exercises
Q1: Write some code which evaluates the following formula: $\dfrac{18 + 22^2}{100 * (8 + 2)}$ 
<details>
<summary>Answer</summary>

Code:<br>
`(18 + (22**2)) / (100 * (8 + 2))`<br>
Output should be = 0.502
    
</details>
<br>

Q2: Write an expression which evaluates to the following output: `'ChickenNugget'` using the `+` operator
<details>
<summary>Answer</summary>

Code:<br>
`'Chicken' + 'Nugget'`<br>
    
</details>
<br>

Q3: Write an expression which evaluates to the following output: `'ChickenChickenNuggetNugget'` using the `+` operator and the `*` operator
<details>
<summary>Answer</summary>

Code:<br>
`'Chicken' * 2 + 'Nugget' * 2`<br>
    
</details>
<br>

In [1]:
# Question 1

In [2]:
# Question 2

In [3]:
# Question 3