# SQL Databases

__This module is not a guide on SQL queries or DDL operations, it is simply a guide on how to connect and issue commands to several of the more popular free and open source databases options available.__

For this module we will be using the [chinook database](https://github.com/lerocha/chinook-database) which, according to the project's readme file, represents a digital media store, including tables for artists, albums, media tracks, invoices and customers.

### Connecting to a databse
In order to connect to a SQL database with python we first need to import the appropriate python module for the database type.  In this case, we are going to begin with a __SQLite__ database, so we will import the `sqlite3` package.

In [2]:
import sqlite3

From here, we need to open a connection to the database by using the `sqlite3.connect` method, and giving the method a `path` to our database.

In [6]:
connection = sqlite3.connect("data/Chinook_Sqlite.sqlite")

Our `con` variable is a `connection` object, and represents the connection to our sqlite database.  In order to run commands against this database, we need to use a `cursor`.  A cursor is an object which we can use to run commands on our database through our `connection` object.

In [7]:
cursor = connection.cursor()

Now that we have our cursor object, we are ready to run some queries against our database!  There's just one problem.  We don't really know what's in the database!  Let's take a look at the data model image below to see what tables there are and how they are related:

![data model image](https://private-user-images.githubusercontent.com/135025/299867754-cea7a05a-5c36-40cd-84c7-488307a123f4.png?jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3NTQ5Mjk1NjEsIm5iZiI6MTc1NDkyOTI2MSwicGF0aCI6Ii8xMzUwMjUvMjk5ODY3NzU0LWNlYTdhMDVhLTVjMzYtNDBjZC04NGM3LTQ4ODMwN2ExMjNmNC5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjUwODExJTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI1MDgxMVQxNjIxMDFaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT05YTZjZGVkNDRkZjM5YTQxMjM0NDQ1OWQwNTk4ODcyYTBkNWVmNzE4NDlhOGZhODhjMmE1YzQyMDZhNThkZTU2JlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.bArCxr9hqPOCVb6XhwZWdefyrqCwUaDEA90ZRkRHK_I)

Excellent!  Now that we know what we're working with, we can begin working with the data.  Let's first try pulling some rows from the `Track` table and learn how the `cursor` object functions a little bit.

In order to issue a query to the database using the `cursor` we will make use of the `cursor.execute()` command.

In [8]:
cursor.execute("SELECT * FROM Track limit 5")

We did it!  But where are the results of our query?  

They are _in_ the `cursor` object!  When you execute a query against the database using the `cursor` object, python stores the response from the SQLite database in the cursor object and we must retrieve it from there in order to see the results!

In order to get the results from the `cursor` object, we use another method called `fetchall()`.  Let's call that method on our `cursor` to see our query's results.

In [9]:
cursor.fetchall()

[(1,
  'For Those About To Rock (We Salute You)',
  1,
  1,
  1,
  'Angus Young, Malcolm Young, Brian Johnson',
  343719,
  11170334,
  0.99),
 (2, 'Balls to the Wall', 2, 2, 1, None, 342562, 5510424, 0.99),
 (3,
  'Fast As a Shark',
  3,
  2,
  1,
  'F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman',
  230619,
  3990994,
  0.99),
 (4,
  'Restless and Wild',
  3,
  2,
  1,
  'F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. Dirkscneider & W. Hoffman',
  252051,
  4331779,
  0.99),
 (5,
  'Princess of the Dawn',
  3,
  2,
  1,
  'Deaffy & R.A. Smith-Diesel',
  375418,
  6290521,
  0.99)]

Awesome!  We got data!  But it isn't very pretty to look at, is it?  In fact.. It doesn't even include column names!  Now, there is a lot we can do with just this `cursor` object to format and clean this data up, but a much _easier_ approach is to simply use `pandas`!  

That's right, the pandas module contains out of the box functionality for executing SQL queries with a database `connection` object!  Let's run the same query using the pandas `read_sql_query` method and see how our output looks.

In [12]:
import pandas as pd
df = pd.read_sql_query("SELECT * FROM Track limit 5", connection)
df

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99

That's much better!  We have the column names and everything in a nice and neat, easy to read `pandas` dataframe just like that!

The last thing we need to do is `close` the database connection when we are done using it.

In [13]:
connection.close()

It's important to `close` connections when we are done with them because some databses hold connections open until they are told explicitly to close them.  This often won't cause problems for a solo developer, but when you are part of a large team all working on the same database, it can become an issue when that database has no available connections because everyone left their old connections open! 

Since this module is just about connecting to and issuing commands to SQL databases, we have already reached the end!  There are a couple more things to go over, but they are entirely optional, and you are free to skip ahead to the final module at this point unless you are curious about how to use other types of databases.

### Pandas under the hood
Which types of SQL databases can `pandas` work with directly using methods like `read_sql_query`?

Under the hood Pandas uses something called SQLAlchemy to work with SQL databases.  Because of this, `pandas` can work with any of the databases that SQLAlchemy has native support for:
- SQLite
- PostgreSQL
- MySQL and MariaDB
- Oracle
- Microsoft SQL Server